body
	min-width: 320px
	color: $dark
	font-family: $futura
	+f(16px, 500, 1.25)
	+font-smoothing
	background: $white

.out
	+clr

.main
	overflow: auto
	height: 100vh
	+lg
		padding-top: 50px

// titles
.title-lg,
h1
	+f(34px, 500, 1.25)
	font-family: $futura
.title-md,
h2
	+f(26px, 500, 1.25)
	font-family: $futura
.title-sm,
h3
	+f(24px, 500, 1.25)
.title-xs,
h4
	+f(20px, 700, 1.5)
	letter-spacing: 0.09em
	
// color block
.text-green
	color: $green 