---
title: Location
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- begin location -->
	<div class="location">
		<div class="location__map"></div>
		<div class="location__wrap js-scroll-wrap">
			<div class="location__hero">
				<h2 class="location__title-lg title-lg">Расположение</h2>
				<p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
				<div class="location__footer">
					<a href="#" class="btn">Проложить маршрут</a>
				</div>
			</div>
			<div class="location__accordions">
				<div class="accordion accordion_border js-accordion">
					<div class="accordion__topic js-accordion-trigger">Рестораны</div>
					<div class="accordion__wrap js-accordion-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, explicabo.</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end location -->

{% endblock %}