.apartment
	position: relative
	color: $white 
	min-height: 100vh
	background-color: #0E0A1C 
	+md
		text-align: center
	&__wrap
		position: relative
		z-index: 1
		margin-top: -165px
		padding: 0 40px 80px
		+md
			padding-bottom: 40px
		+sm
			margin-top: -98px 
			padding: 0 28px 75px
	&__field
		padding: 49px 0 39px
		width: 100%
		display: flex
		+md
			display: block
		+sm
			padding: 28px 0
		&:not(:last-child)
			border-bottom: 1px solid rgba($white, 0.1)
		&:first-child
			+sm
				padding-bottom: 15px
	&__left
		padding-right: 80px
		flex-grow: 1
		+xl
			padding-right: 20px
		+md
			padding-right: 0
	&__right
		width: 262px
		flex: 0 0 262px
		+md
			margin-top: 10px
			width: 100%
			flex: 0 0 100%
	&__out
		width: 91%
		+xl
			width: 100%
	&__title
		margin-bottom: 25px
		+sm
			margin-bottom: 12px
	&__title-md
		margin-bottom: 31px
		padding-top: 8px 
		text-align: center
		+md
			margin-bottom: 15px
		+sm
			border-top: 1px solid rgba($white, 0.1)
			padding-top: 15px
			margin-bottom: 0
	&__title-xs
		opacity: 0.6
	&__text
		opacity: 0.6
		font-size: 20px
		line-height: 1.5
		+sm
			font-size: 15px
	&__row
		margin: 0 -15px
		+clr
		&:not(:last-child)
			margin-bottom: 32px
			+sm
				margin-bottom: 15px 
	&__col
		float: left
		padding: 0 15px
		width: 33.3%
		+sm
			width: 100%
		&:not(:first-child)
			+sm
				margin-top: 15px
	&__list
		font-size: 20px
	&__item
		display: block
		+sm
			font-size: 20px
		&:not(:first-child)
			margin-top: 5px
	&__scheme
		padding-left: 9px
		margin: 0 -30px
		position: relative
		white-space: nowrap
		overflow: hidden
		opacity: 0
		visibility: hidden
		transition: opacity .3s, visibility .3s
		+md
			margin: 0
			margin-top: 50px
		+sm
			max-width: 400px
			margin: 50px auto
		& img
			max-width: 100%
			display: block
			padding: 0 30px
			+sm
				padding: 0
		&.slick-initialized
			white-space: normal
			overflow: visible
			opacity: 1
			visibility: visible
		.slick-prev
			left: 12px
		.slick-next
			right: 5px
		.slick-arrow
			background-color: transparent
			color: $white
			opacity: 0.8
			position: absolute
			top: 50%
			margin-top: -13px
			transition: opacity .3s
			z-index: 2
			+hover
				opacity: 1
		.slick-dots
			position: absolute
			left: 0
			width: 100%
			bottom: -30px
			font-size: 0
			text-align: center
			li
				vertical-align: top
				display: inline-block
				&:not(:first-child)
					margin-left: 8px
				&.slick-active
					button
						background-color: $blue 
			button
				display: block
				width: 12px
				height: 12px
				font-size: 0
				border-radius: 50%
				transition: background-color .3s
				background-color: $white 
	&__btn
		+md
			width: auto
			min-width: 224px
		+sm
			position: absolute
			left: 50%
			transform: translateX(-50%)
			bottom: 40px

.hero
	position: relative
	padding: 60px 40px 160px 30px
	background-position: 50% 50%
	background-repeat: no-repeat 
	background-size: cover
	+sm
		padding: 15px 10px
		height: 190px
	&:before
		position: absolute
		content: "" 
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: linear-gradient(-180deg, rgba(14,10,28,0.51) 0%, #0E0A1C 89%)
	&__inner
		position: relative
		z-index: 1
	&__prev
		position: relative
		z-index: 2
		margin-bottom: 21px
		text-align: left
	&__photos
		margin-right: -40px
		+clr
		+sm
			display: none
	&__photos-inner
		position: relative
		float: right
		width: 526px
		height: 111px
		overflow: hidden
		font-size: 0
		white-space: nowrap
		overflow: auto
	&__photo
		width: 182px
		height: 111px
		border-radius: 5px
		vertical-align: top
		background-position: 50% 50%
		background-repeat: no-repeat 
		background-size: cover
		display: inline-block
		&:not(:first-child)
			margin-left: 21px
		