.btn
	display: inline-block
	vertical-align: top
	padding: 15px 20px
	border-radius: 5px
	font-family: $futura
	+f(16px, 500, 1.25)
	transition: background 0.3s
	+md 
		padding: 10px 16px 9px
		border-radius: 3px
		+f(13px)
	&_green
		color: $white
		background: $green
		+hover
			background: $lightGreen
		+active
			background: $darkGreen
	&_gray
		color: $white
		background: #D5D5D5
		+hover 
			background: lighten(#D5D5D5, 3%)
		+active 
			background: darken(#D5D5D5, 3%)
	&_wide
		width: 100%
	&_lg
		padding: 16px 20px 
		font-size: 20px

.btn-prev
	color: $white
	font-family: $futura
	font-size: 0
	line-height: 38px
	border-color: transparent
	vertical-align: top
	display: inline-block 
	&__text
		+f(20px, 500)
		vertical-align: middle
		display: inline-block
	&__icon
		margin-right: 10px 
		width: 38px
		height: 38px
		line-height: 38px
		text-align: center
		border-radius: 50% 
		background-color: $blue 
		vertical-align: top
		display: inline-block
		.icon
			font-size: 15px
			vertical-align: middle