.cover
	display: flex
	align-items: flex-end
	justify-content: center
	height: 100%
	+cover
	&__content
		padding: 25px 125px
		margin-bottom: 110px
		width: 100%
		max-width: 700px
		color: $white
		background: $black
		font-family: $book
		+f(25px, 400, 1.2)
		text-align: center