.error
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding-top: 62px
	height: 100%
	text-align: center
	+md 
		padding-top: 50px
		padding-bottom: 50px
		height: auto
		min-height: 100%
	&__img
		margin-bottom: 72px
		width: 80%
		max-width: 974px
		+md 
			max-width: 540px
		+sm 
			margin-bottom: 35px
			max-width: 360px
	&__description
		padding: 0 20px
		margin: 0 auto
		max-width: 490px
		font-family: $book
		+f(25px, 400, 1.2)
		+md 
			max-width: 360px
			+f(18px)
		+sm
			max-width: 270px
			+f(13px)
