.ps
	position: relative
	.ps__rail-x,
	.ps__rail-y
		z-index: 1
		height: 8px
		background-color: transparent 
	.ps__rail-x:focus>.ps__thumb-x, .ps__rail-x:hover>.ps__thumb-x
		background-color: rgba($black, 0.3) 
	.ps__thumb-y,
	.ps__thumb-x
		border-radius: 4px
		background-color: rgba($white, 0.5)
	.ps__thumb-x
		height: 4px
		&:before
			position: absolute 
			content: "" 
			top: -2px
			left: 0px
			right: 0px
			bottom: -2px
	.ps__rail-x:focus>.ps__thumb-x, .ps__rail-x:hover>.ps__thumb-x
		height: 4px
	.ps__rail-x:focus>.ps__thumb-x, .ps__rail-x:hover>.ps__thumb-x,
	.ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y
		cursor: pointer
		background-color: $white 
	.ps__thumb-y
		width: 4px
		&:before
			position: absolute 
			content: "" 
			top: 0
			left: -2px
			right: -2px
			bottom: 0
	.ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y
		width: 4px
.ps--focus>.ps__rail-x, .ps--focus>.ps__rail-y, .ps--scrolling-x>.ps__rail-x, .ps--scrolling-y>.ps__rail-y, .ps:hover>.ps__rail-x, .ps:hover>.ps__rail-y
	opacity: 1

.white-scrollbar
	.ps__rail-x
		bottom: 19px
		height: 9px !important
		+sm 
			bottom: 16px
			height: 5px !important
		&:before
			top: 0
			left: 12px
			right: 12px
			bottom: 0
			+sm 
				left: 8px
				right: 8px
	.ps__rail-y
		right: 19px
		width: 9px !important
		+sm 
			right: 16px
			height: 5px !important
		&:before
			top: 12px
			left: 0
			right: 0
			bottom: 12px
			+sm 
				top: 8px
				bottom: 8px
	.ps__rail-x, 
	.ps__rail-y
		+sm 
			opacity: 1
		&:before
			content: ''
			position: absolute
			border-radius: 5px
			background: rgba($white, 0.1)
	.ps__thumb-x
		bottom: 0
		height: 100% !important
		&:before
			top: 0
			left: 12px
			right: 12px
			bottom: 0
			+sm 
				left: 8px
				right: 8px
	.ps__thumb-y
		right: 0
		width: 100% !important
		&:before
			top: 12px
			left: 0
			right: 0
			bottom: 12px
	.ps__thumb-x,
	.ps__thumb-y
		background: none !important
		&:before
			content: ''
			position: absolute
			border-radius: 5px
			background: $white
	.white-scrollbar
		.ps__rail-x
			bottom: 5px
			height: 5px !important
		.ps__rail-y
			right: 5px
			width: 5px !important

.gray-scrollbar
	.ps__thumb-x, 
	.ps__thumb-y
		&:before
			background: rgba($black, 0.3)